@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.text-input{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;
    margin-bottom: 4%;
}

.compInput {
  width: 22vw;;
  padding: 12px 20px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: all 0.4s ease;
  margin-bottom: 12%;
}

.compInput:focus {
  border-color: #007BFF;     
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); 
}

.compInput::placeholder {
  color: white;
}

@media screen and (max-width: 768px) {
  .compInput {
    width: 30vw;
  }

  .compInput::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .compInput {
    width: 50vw;
  }

  .compInput::placeholder {
    font-size: 14px;
  }
}