@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url(../../assets/BackgroundClean.jpg);
  display: flex;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/BackgroundClean.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(6px); 
  z-index: -1; 
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh 4vw; 
  min-height: 100vh; 
  box-sizing: border-box;
}

.section {
  width: 92vw;
  height: 92vh;
  background-image: url(../../assets/BackgroundClean.jpg);
  background-position: center top 20%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-origin: center;
}


.section:hover {
  transform: scale(1.01); 
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}


.container {
  margin-top: 10%;
  margin-left: 4%;
  color: white;
}

h1 {
  color: white;
  font-size: 7vw;
  font-family: 'Cormorant', serif;
  cursor: pointer;
}
span {
  margin-left: 0.4%;
  opacity: 1;
  display: block;
  font-size: 1.1vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-top: -1em;
  cursor: pointer;
}

.iconemusic {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end;    
  width: 100%;
  height: 100%;
  padding: 20px;
}

.iconemusic svg {
  width: 40px;
  height: 40px;
}

.title-container {
  display: inline-block; 
  transition: transform 0.3s ease;
  margin: 0;
}

.title-container:hover {
  transform: scale(1.1);
}

.title-container h1,
.title-container span {
  transition: inherit; 
}

@media screen and (max-width: 1024px) {
  .title-container {
    margin-top: 10%;
  }

  span {
    font-size: 12px;
  }
  .play-container {
    margin-right: 2%;
  }
}

@media screen and (max-width: 768px) {

  .container {
    margin-left: 32%;
  }

  .title-container {
    margin-top: 85%;
  }

  h1 {
    font-size: 9vw;
  }

  span {
    margin-top: 1%;
    font-size: 15px;
    max-width: 70%;
  }
  .play-container {
    margin-right: 4%;
  }
}

@media screen and (max-width: 570px) {
  .container {
    margin-left: 25%;
  }

  .title-container {
    margin-top: 50vh;
  }

  h1 {
    font-size: 12vw;
  }

  span {
    margin-left: 4%;
  }
  .play-container {
    margin-right: 6%;
  }
}

@media screen and (max-width: 570px) {

  .container {
    margin-left: 22%;
  }

  .title-container {
    margin-top: 55vh;
  }

  h1 {
    font-size: 14vw;
  }

  span {
    margin-left: 6%;
  }

}