@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.navbar {
  position: relative;            
  min-width: 100%;
  max-height: 5%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.navbarLeft {
  display: flex;
  gap: 40px;
}

.navbarLeft a {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #ffffff;              
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.5s;
}

.navbarLeft a:hover {
  color: #ffffff;              
  transform: scale(1.05);
}

.navbarRight {
  color: black;
  display: flex;
  gap: 28px;
}

.icon {
  color: #ffffff;         
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3)); 
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.15);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.4));
}

.dropdownMenu {
  position: fixed; 
  top: 0;          
  right: 10px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transform: translateY(-100%); 
  transition: 
    max-height 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.5s ease,
    padding 0.5s ease,
    transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dropdownMenu.open {
  max-height: 600px;
  opacity: 1;
  padding: 20px;
  transform: translateY(60px); 
}

.searchInput {
  width: 0;
  padding: 0;
  opacity: 0;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: #fff;
  font-size: 16px;
  outline: none;
  transition: all 0.4s ease;
  margin: 0 10px;
}

.searchInput.show {
  width: 300px;        
  padding: 12px 20px;
  opacity: 1;
}

.searchInput:focus {
  border-color: #007BFF;     
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); 
}

.searchInput::placeholder {
  color: white;
}

@media screen and (max-width: 768px) {
  .searchInput.show {
    width: 160px;        
  }
}

@media screen and (max-width: 580px) {
  .navbarLeft {
    display: none;
  }

  .navbar {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 380px) {
  .searchInput.show {
      width: 140px;        
    }
}
